[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
black = "*"

[packages]
requests = "*"
flask = "*"
zappa = "*"
watson-developer-cloud = "*"
peewee = "*"
mysql-connector-python = "*"
pymysql = "*"
redis = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
